# Minimaal nodig om te runnen
MSISDN=
AUTHORIZATION_TOKEN=

# OAuth om tot een AUTHORIZATION_TOKEN te komen - tijdgevoelig
REFRESH_TOKEN=

# Configureerbaar - heeft prima default
ODIDO_BUYING_CODE=
MB_THRESHOLD=
RUN_ONCE=
DISCOVER_BUYING_CODE=

# Interval
## Dynamisch
DYNAMIC_INTERVAL_MB_THRESHOLD= 
DYNAMIC_INTERVAL_LOW=
DYNAMIC_INTERVAL_HIGH=
## Statisch
CHECK_INTERVAL=

# Praktisch nooit aanpassen
ODIDO_URL=
ODIDO_FERNET_KEY=
ODIDO_OAUTH_KEY=
ODIDO_API_URL=
ODIDO_USER_AGENT=
HTTP_MAX_RETRIES=
HTTP_RETRY_DELAY_STEP=
